
@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>

<form method="post">
    <label for="num">Number</label>
    <input type="text"  id="num" name="id" />
    <br />
    <label for="col">Color</label>
    <input type="text" id="col" name="color" />
    <br />
    <label for="mod">Model</label>
    <input type="text"  id="mod" name="model" />
    <br />
    <label for="man">Manufacturer</label>
    <input type="text"  id="man" name="manufacturer" />
    <br />
    <br />
    <br />
    <button type="submit">Add</button>
</form>
