
@{
    ViewBag.Title = "GetCarById";

    Day2_MVC_ITI.Car Car = (Day2_MVC_ITI.Car) ViewBag.car;
}

<h2>Car Details</h2>
<h3>Number: @Car.Num</h3>
<h3>Color: @Car.Color</h3>
<h3>Model: @Car.Model</h3>
<h3>Manufacturer: @Car.Manufacturer</h3>
